# MOVIE RECOMMENDATION SYSTEM

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy

In [2]:
movies = pd.read_csv('/content/top10K-TMDB-movies.csv')

# Exploring the Data

In [3]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862.0
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731.0
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280.0
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959.0
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811.0

In [4]:
movies.tail()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
2983,661914,One Night in Miami...,Drama,en,In the aftermath of Cassius Clay's defeat of S...,10.246,2020-12-25,7.1,528.0
2984,19971,The Little Girl Who Lives Down the Lane,"Drama,Mystery,Thriller",en,"Quiet, withdrawn 13-year-old Rynn Jacobs lives...",7.183,1976-12-25,7.1,237.0
2985,657,From Russia with Love,"Action,Thriller,Adventure",en,Agent 007 is back in the second installment of...,30.964,1963-10-10,7.1,2352.0
2986,445,Caché,"Mystery,Drama,Thriller",fr,A married couple is terrorized by a series of ...,6.802,2005-10-05,7.1,807.0
2987,399121,An Officer and a Spy,"History,Drama,Thriller",fr,"In 1894, French Captain Alfred Dreyfus is wron...",11.895,NaN,NaN,NaN

In [5]:
movies.describe()

                  id   popularity  vote_average    vote_count
count    2988.000000  2988.000000   2987.000000   2987.000000
mean   157049.402276    50.841985      7.525243   2438.871108
std    221330.727437   284.718222      0.336632   3934.907609
min        11.000000     0.600000      7.100000    200.000000
25%      4958.000000     9.418750      7.300000    370.000000
50%     19007.000000    14.621500      7.500000    796.000000
75%    315124.500000    31.551000      7.700000   2496.000000
max    920394.000000  8821.801000      8.700000  31917.000000

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2988 entries, 0 to 2987
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2988 non-null   int64
 1   title              2988 non-null   object
 2   genre              2988 non-null   object
 3   original_language  2988 non-null   object
 4   overview           2988 non-null   object
 5   popularity         2988 non-null   float64
 6   release_date       2987 non-null   object
 7   vote_average       2987 non-null   float64
 8   vote_count         2987 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 210.2+ KB

In [7]:
movies.isnull().sum()

id                   0
title                0
genre                0
original_language    0
overview             0
popularity           0
release_date         1
vote_average         1
vote_count           1
dtype: int64

In [8]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [9]:
movies = movies[['id', 'title', 'genre', 'overview']]

In [10]:
movies

,id,title,genre,overview
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...
2983,661914,One Night in Miami...,Drama,In the aftermath of Cassius Clay's defeat of S...
2984,19971,The Little Girl Who Lives Down the Lane,"Drama,Mystery,Thriller","Quiet, withdrawn 13-year-old Rynn Jacobs lives..."
2985,657,From Russia with Love,"Action,Thriller,Adventure",Agent 007 is back in the second installment of...
2986,445,Caché,"Mystery,Drama,Thriller",A married couple is terrorized by a series of ...
2987,399121,An Officer and a Spy,"History,Drama,Thriller","In 1894, French Captain Alfred Dreyfus is wron..."

In [11]:
movies['tags'] = movies['overview']+movies['genre']

<ipython-input-11-52ba05029f8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview']+movies['genre']

In [12]:
movies

,id,title,genre,overview,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
2983,661914,One Night in Miami...,Drama,In the aftermath of Cassius Clay's defeat of S...,In the aftermath of Cassius Clay's defeat of S...
2984,19971,The Little Girl Who Lives Down the Lane,"Drama,Mystery,Thriller","Quiet, withdrawn 13-year-old Rynn Jacobs lives...","Quiet, withdrawn 13-year-old Rynn Jacobs lives..."
2985,657,From Russia with Love,"Action,Thriller,Adventure",Agent 007 is back in the second installment of...,Agent 007 is back in the second installment of...
2986,445,Caché,"Mystery,Drama,Thriller",A married couple is terrorized by a series of ...,A married couple is terrorized by a series of ...
2987,399121,An Officer and a Spy,"History,Drama,Thriller","In 1894, French Captain Alfred Dreyfus is wron...","In 1894, French Captain Alfred Dreyfus is wron..."

In [13]:
new_movie = movies.drop(columns = ['overview','genre'])

In [14]:
new_movie

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
2983,661914,One Night in Miami...,In the aftermath of Cassius Clay's defeat of S...
2984,19971,The Little Girl Who Lives Down the Lane,"Quiet, withdrawn 13-year-old Rynn Jacobs lives..."
2985,657,From Russia with Love,Agent 007 is back in the second installment of...
2986,445,Caché,A married couple is terrorized by a series of ...
2987,399121,An Officer and a Spy,"In 1894, French Captain Alfred Dreyfus is wron..."

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv = CountVectorizer(max_features=10000,stop_words = 'english')

In [17]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [18]:
vec = cv.fit_transform(new_movie['tags'].values.astype('U')).toarray()

In [19]:
vec

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [20]:
vec.shape

(2988, 10000)

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
sm = cosine_similarity(vec)

In [23]:
sm

array([[1.        , 0.04652421, 0.1176552 , ..., 0.04279605, 0.048795  ,
        0.07968191],
       [0.04652421, 1.        , 0.06897007, ..., 0.02090605, 0.09534626,
        0.03892495],
       [0.1176552 , 0.06897007, 1.        , ..., 0.08459099, 0.04822428,
        0.07874992],
       ...,
       [0.04279605, 0.02090605, 0.08459099, ..., 1.        , 0.1315587 ,
        0.07161149],
       [0.048795  , 0.09534626, 0.04822428, ..., 0.1315587 , 1.        ,
        0.16329932],
       [0.07968191, 0.03892495, 0.07874992, ..., 0.07161149, 0.16329932,
        1.        ]])

In [24]:
new_movie[new_movie['title'] == "The Godfather"]

    id          title                                               tags
2  238  The Godfather  Spanning the years 1945 to 1955, a chronicle o...

In [25]:
new_movie[new_movie['title'] == "The Godfather"].index[0]

2

In [26]:
new_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2988 entries, 0 to 2987
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2988 non-null   int64
 1   title   2988 non-null   object
 2   tags    2988 non-null   object
dtypes: int64(1), object(2)
memory usage: 70.2+ KB

In [27]:
dis = sorted(list(enumerate(sm[2])),reverse = True, key = lambda vec : vec[1])

In [28]:
for i in dis[0:5]:
  print(new_movie.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Joker
Bomb City
Felon

In [29]:
def recommend(movies):
  index = new_movie[new_movie['title'] == movies].index[0]
  dis = sorted(list(enumerate(sm[index])),reverse = True, key = lambda vec : vec[1])
  for i in dis[0:5]:
    print(new_movie.iloc[i[0]].title)

In [30]:
recommend(input("Enter your Favourite  movie name : "))

Enter your Favourite  movie name : The Godfather
The Godfather
The Godfather: Part II
Joker
Bomb City
Felon